.ContactsView {
    max-height: fit-content;
    padding-top: 100px;
    padding-bottom: 100px;
}

.ContactsViewTitle {
    max-width: 900px;
    margin-left: auto;
    margin-right: auto;
    font-family: 'VCR', cursive;
    color: var(--second-color);
    font-size: 28px;
    text-align: center;
}

.ContactsViewTitle>h1 {
    font-family: 'VCR', cursive;
    color: var(--main-color);
    font-size: 100px;
    margin-top: 0;
}