.ProjectsView {
    max-height: fit-content;
    padding-top: 100px;
    padding-bottom: 100px;
}

.ProjectsViewTitle {
    max-width: 900px;
    margin-left: auto;
    margin-right: auto;
    font-family: 'VCR', cursive;
    color: var(--second-color);
    font-size: 28px;
    text-align: center;
}

.ProjectsViewTitle>h1 {
    font-family: 'VCR', cursive;
    color: var(--main-color);
    font-size: 100px;
    margin-top: 0;
}

.ProjectsView>.LeftPanel {
    height: 100%;
    width: 50%;
    display: flex;
    margin-left: 100px;
}

.Slide {
    background-color: var(--main-color-background);
    width: 100%;
    height: 100%;
}