@import url('https://fonts.googleapis.com/css2?family=Monoton&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100&display=swap');

@font-face {
  font-family: '04B_30';
  src: url(./assets/fonts/04B_30__.TTF);
}

@font-face {
  font-family: 'ArialicHollow';
  src: url(./assets/fonts/Arialic\ Hollow.ttf);
}

@font-face {
  font-family: 'VCR';
  src: url(./assets/fonts/VCR.ttf);
}

:root {
  --main-color-background: #0C0C0C;
  --main-color : #D7390A;
  --second-color : #FFFFFF;
}

.App {
  background-color: var(--main-color-background);
  color: var(--main-color);
  height: 100vh;
  min-height: 100vh;
  width: 100vw;
  min-width: 100vw;
}

.Top-Banner {
  position: fixed;
  top: 0;
  width: 100%;
}

.First-Rectangle-Banner {
  width: 100% - 20px;
  height: 50px;
  padding: 15px;
  border: 12px solid var(--main-color);
  border-bottom: 0;
  margin-top: 20px;
  margin-right: 20px;
  margin-left: 20px;
}

.Second-Rectangle-Banner {
  width: 100% - 20px;
  height: 32px;
  padding: 10px;
  border: 12px solid var(--main-color);
  border-bottom: 0;
}

.Top-Banner>.Line {
  border-left: 10px solid var(--main-color);
  height: 50px;
  margin-left: 20px;
}

.Top-Banner>.TopBannerIcon {
  border: 5px solid var(--main-color);
  width: 30px;
  height: 30px;
  margin-left: 20px;
  margin-top: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'VCR';
  font-size: 20px;
  font-weight: 900;
}

.Bottom-Banner {
  position: fixed;
  bottom: 0;
  width: 100%;
  transform: rotate(180deg);
}

.HomeView {
  display: flex;
  height: 100%;
  min-height: 100%;
  width: 100%;
  min-width: 100%;
  background-color: var(--main-color-background);
}

.HomeView>.LeftPanel {
  height: 100%;
  width: 50%;
  display: flex;
}

.HomeView>.LeftPanel>.Content {
  margin: auto;
}

.HomeView>.LeftPanel>.Content>.Name {
  font-family: 'VCR', cursive;
  color: var(--main-color);
  font-size: 150px;
  text-align: left;
  line-height: 130px;
  letter-spacing: 0px;
  text-size-adjust: 50%;
  margin-left: 18%;
}

.HomeView>.LeftPanel>.Content>.Subtitle {
  color: var(--second-color);
  margin-left: 18%;
  text-align: left;
  font-size: 30px;
  font-weight: 200;
  margin-top: 50px;
  font-family: 'VCR', sans-serif;
}

.HomeView>.RightPanel {
  height: 100%;
  width: 50%;
  display: flex;
}

.HomeView>.RightPanel>.Content {
  margin: auto;
  text-align: right;
  margin-right: 18%;

}

.HomeView>.RightPanel>.Content>.MenuPoint>h1 {
  display: inline;
  font-family: 'VCR', sans-serif;
  font-weight: 400;
  font-size: 70px;
  margin: 15px;
}

.HomeView>.RightPanel>.Content>.MenuPoint>h2 {
  display: inline;
  font-family: 'VCR';
}

.HomeView>.RightPanel>.Content>.MenuPoint:hover {
  background-color: var(--main-color);
  color: var(--main-color-background);
}

.ListLogo {
  height: 100px;
  width: 600px;
  position: fixed;
  left: 50%;
  margin-left: -300px;
  bottom: 110px;
  text-align: center;
}

.ListLogo>img {
  height: 80px;
  width: 80px;
  margin: 20px;
  padding: 5px;
}

.ListLogo>img:hover {
  border: solid var(--main-color) 4px;
  border-radius: 5px;
  margin: 15px;
}

.ListLogo>a>img {
  height: 80px;
  width: 80px;
  margin: 20px;
  padding: 5px;
}

.ListLogo>a>img:hover {
  border: solid var(--main-color) 4px;
  border-radius: 5px;
  margin: 15px;
}

.HomeView>.RightPanel>.Content>a>.MenuPoint>h1 {
  display: inline;
  font-family: 'VCR', sans-serif;
  font-weight: 400;
  font-size: 70px;
  margin: 15px;
}

.HomeView>.RightPanel>.Content>a>.MenuPoint>h2 {
  display: inline;
  font-family: 'VCR';
}

.HomeView>.RightPanel>.Content>a>.MenuPoint:hover {
  background-color: var(--main-color);
  color: var(--main-color-background);
}

a {
  color: var(--main-color);
  text-decoration: none;
}